   body {
       background-color: #FBF8EC;
   }

   .category {
       transform: translateY(-100%);
   }

   
   .category-view {
       transform: translateY(0%);
       transition: 0.5s;
   }


   .duration {
       transition: 0.5s;
   }

   .menus {
       transform: translateX(100%);
   }

   .menus-view {
       transform: translateX(0%);
       transition: 0.5s;
   }

   .close-transition {
       transition: 0.5s;
   }
   .category-close{
    display: none;
   }
   .menus-category-hidde{
    display: none;
   }
   .menus-category-hidden{
    display: flex;
   }
   .register{
    opacity: -1;
   }
   .register-view{
    opacity: 1;
   }
   .duration{
    transition: 0.3s;
   }